/* This code sets the font style for the entire page */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* This style code makes the container float left and gives it padding on the page */
.container {
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#intro {
    padding-bottom: 20px;
}

/* This style code sets the style of the biography information */
#biography {
    font-size: 20px;
    text-align: justify;
}

/* This style code sets the style of the card element */
.card {
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding-bottom: 10px;
}

/* This style code sets the font size and padding for all of the title rows on the card */
.col1 {
    font-size: 38px;
    padding-left: 10px;
}

/* This style code makes it so the image on the About Me page floats left and allows the text to wrap around it. */
.row2 img {
    float: left;
    width: 60%;
    height: auto;
    padding-right: 20px;
    padding-bottom: 15px;
}

/* This style code sets the style for the images in the portfolio html page. */
.row2portfolio img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
}

/* This style code gives the Submit button on the Contact page some space underneath it. */
.row4 {
    padding-bottom: 20px;
}

.row1 {
    padding-bottom: 20px;
}

.header {
    font-weight: bold;
    font-size: 25px;
}